/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .zoom_content h2 {
        font-size: 34px;
    }
    .nav_bar {
        padding: 0;
    }
    .zoom_live_content h3 {
        font-size: 34px;
    }
    a.watch_video_button {
        padding: 10px 15px 10px 15px;
        border-radius: 40px;
        font-size: 14px;
    }
    a.live_preview_button {
        padding: 10px 10px;
        font-size: 14px;
        

    }
    .main_button{
        margin-bottom: 20px;
    }
    .common_footer_css h4 {
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .first_row img:nth-child(1) {
        margin-bottom: 10px;
    }
    /* blog */
    .code_supply .code_supply_img img {
        float: left;
        margin-left: 170px;
    }
    .social_single {
        background: #f0f0f0;
        margin: 0 5px 5px 100px;
    }
    .instagram_content {
        margin: 50px 0 50px 100px;
    }
    .code_supply_content a h5 {
        margin-left: 20px;
    }
    .code_supply_content a p {
        margin-left: 20px;
    }
    .code_supply_content span {
        margin-left: 20px;
    }
   
    
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .main_button {
        margin-bottom: 40px;
    }
    .common_footer_css h4 {
        margin-top: 30px;
    }
    img.overflow {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .right_side {
        margin: auto;
        width: 50%;
    }
    .image_gallery img {
        width: 155px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 10px;

    }
    .code_supply_img img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }
    .code_supply_content {
        text-align: center;
        margin-top: 10px;
    }
}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .zoom_img img {
        margin-top: 150px;
        height: 450px;
    }
    a.watch_video_button {
        padding: 10px 15px 10px 15px;
        border-radius: 40px;
        font-size: 14px;
    }
    a.live_preview_button {
        padding: 10px 10px;
        font-size: 14px;
        

    }
    a.footer_button {
        padding: 8px 12px;
   
    }
    .container{
        overflow: scroll;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }